@import './styles/variables.scss';
@import './styles/mixin.scss';

.nav {
  position: fixed;
  top: 3%;
  width: 100%;
}

.navButton {
  @include font(normal, 12px, 24px, 3px);

  position: absolute;
  right: 50%;
  width: 100px;
  margin-right: -50px;
  padding: 0;
  border: none;
  color: var(--blue);
  text-decoration: underline;
  background-color: transparent;

  @media (min-width: $tablet) {
    @include font(normal, 14px, 24px, 3px);

    right: 15%;
    margin-right: 0;
  }
}

.navButton:hover {
  cursor: pointer;
}
